@page "{handler?}"
@model OnboardingAdminModel
@{
    ViewData["Title"] = "OnboardingAdmin page";
}

<h4>Invite new user</h4>

<hr />

<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="UserData.Email" class="form-label">Email</label>
                <input asp-for="UserData.Email" class="form-control" aria-describedby="emailHelp" />
                <span asp-validation-for="UserData.Email" class="text-danger"></span>
                <div id="emailHelp" class="form-text">An email with an unknown domain will create an invite for a guest</div>
            </div>
            <div class="mb-3">
                <label asp-for="UserData.UsePasswordless" class="form-label">Use Passwordless</label>
                <input asp-for="UserData.UsePasswordless" class="form-check-input" type="checkbox" aria-describedby="passwordlessHelp" />
                <div id="passwordlessHelp" class="form-text">Temporary Access Pass is used for onboarding AAD members</div>
            </div>
            <div class="mb-3">
                <label asp-for="UserData.UserName" class="form-label">User name</label>
                <input asp-for="UserData.UserName" class="form-control" />
                <span asp-validation-for="UserData.UserName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="UserData.FirstName" class="form-label">First name</label>
                <input asp-for="UserData.FirstName" class="form-control" />
                <span asp-validation-for="UserData.FirstName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="UserData.LastName" class="form-label">Last name</label>
                <input asp-for="UserData.LastName" class="form-control" />
                <span asp-validation-for="UserData.LastName" class="text-danger"></span>
            </div>

            <br />

            <div class="form-group">
                <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Onboard new user</button>
            </div>
        </form>
    </div>
</div>

<hr />

@if (@Model.AccessInfo!.Email != null)
{
    <div class="card">
        <div class="card-header">
            @Model.AccessInfo!.Email
        </div>
        <div class="card-body">
            @if (@Model.AccessInfo!.TemporaryAccessPass != null)
            {
                <h6 class="card-subtitle mb-2 text-muted">Temporary Access Pass</h6>

                <p class="card-text">Use the TAP here: <a href="https://aka.ms/mysecurityinfo">https://aka.ms/mysecurityinfo</a></p>

                <p class="card-text">@Model.AccessInfo.TemporaryAccessPass</p>
            }
            @if (@Model.AccessInfo!.Password != null)
            {
                <h6 class="card-subtitle mb-2 text-muted">Password</h6>
                <p class="card-text">@Model.AccessInfo.Password</p>
            }
            @if (@Model.AccessInfo!.InviteRedeemUrl != null)
            {
                <h6 class="card-subtitle mb-2 text-muted">Invite Redeem Url</h6>
                <p class="card-text">@Model.AccessInfo.InviteRedeemUrl</p>
            }
        </div>
    </div>
}