@page "{handler?}"
@model OnboardingAdminModel
@{
    ViewData["Title"] = "OnboardingAdmin page";
}

<h4>Invite new user</h4>

<hr />

<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="UserData.Email" class="form-label">Email</label>
                <input asp-for="UserData.Email" class="form-control" />
                <span asp-validation-for="UserData.Email" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="UserData.UserName" class="form-label">User name</label>
                <input asp-for="UserData.UserName" class="form-control" />
                <span asp-validation-for="UserData.UserName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="UserData.FirstName" class="form-label">First name</label>
                <input asp-for="UserData.FirstName" class="form-control" />
                <span asp-validation-for="UserData.FirstName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="UserData.LastName" class="form-label">Last name</label>
                <input asp-for="UserData.LastName" class="form-control" />
                <span asp-validation-for="UserData.LastName" class="text-danger"></span>
            </div>

            <br />

            <div class="form-group">
                <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Onboard new user</button>
            </div>
        </form>
    </div>
</div>

<hr />

<p>Email: @Model.AccessInfo!.Email</p>

@if (@Model.AccessInfo.TemporaryAccessPass != null)
{
    <p>TemporaryAccessPass: @Model.AccessInfo.TemporaryAccessPass</p>
}
@if (@Model.AccessInfo.Password != null)
{
    <p>Password: @Model.AccessInfo!.Password</p>
}


